.example {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   min-height: 100vh;
   background-color: #FBE9F6;
}

.login{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
}