body {
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'MontSerrat', sans-serif;
    font-size: 16px;
}

*,*::before, *::after{
    box-sizing: border-box;
}

.customizar{
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.customizar input{
    border: 2px solid #c5a5bc;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3 ease;

}

.customizar .tituloInput{
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #c5a5bc;
    transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.customizar input:focus + .tituloInput{
    top: 20px;
    font-size: 10px;
    color: #BA66A3;
    background: #FBE9F6;
}

.customizar input:focus + .tituloInput{
    padding: 0 5px;
}

.customizar input:focus{
    border-color: #BA66A3;
    transition-delay: 0.1s;
}


/* .tituloInput{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0%;
    color: #444143;
    font-family: 'MontSerrat', sans-serif;
}

.TextInput{
    border-radius: 5px;
    border:thin;
    margin: 10px 0px 10px;
} */